<!DOCTYPE html>
<head>
  <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<html>
<head>
	<title>Configuración</title>
	<link rel="stylesheet" type="text/css" href="config.css">
</head>
<body>
	<h1>Editar Datos</h1>
	<form id="config-form">
		<label for="username">Nuevo nombre de usuario:</label>
		<input type="text" id="username" name="username">
		<br>
		<label for="password">Nueva clave:</label>
		<input type="password" id="password" name="password">
		<br>
		
		<a href="principal.html">
			<button type="button">Guardar</button>
		  </a>